import os
import sys

project_path = "/home/YOUR_USERNAME/helogram"
if project_path not in sys.path:
    sys.path.insert(0, project_path)

os.environ.setdefault("DJANGO_SETTINGS_MODULE", "config.settings")
os.environ.setdefault("DJANGO_DEBUG", "False")
os.environ.setdefault("DJANGO_ALLOWED_HOSTS", "YOUR_USERNAME.pythonanywhere.com")
os.environ.setdefault("CSRF_TRUSTED_ORIGINS", "https://YOUR_USERNAME.pythonanywhere.com")

from django.core.wsgi import get_wsgi_application

application = get_wsgi_application()
